# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]utput
[Bb]uild[Oo]utput/
[Bb]uild[Oo]utput

packages/
## TODO: If the tool you use requires repositories.config uncomment the next line
#!packages/repositories.config
